main{
    background: #1abc9c !important; 
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}

.header img {
 display: block;
 width: 318px;
 margin-left: auto;
 margin-right: auto;
}

archive {
 width: 960px;
 margin-left: auto;
 margin-right: auto;
}
.post-title a {
 color: #ffffff;
}
.article-author {
 width: 50%;
 float: left;
}
.article-created-date {
 text-align: right;
}
.one-post-shadow {
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 background: black ;
 z-index: -1; /* это свойство «отодвигает» элемент на задний план */
}
.post-managment {
    display: flex;
    justify-content: space-between;
}
*{
    z-index: 1;
}
.big{
    width: 90px;
}
.normalLab {
    width: 70px;
    margin: 0 auto
}